<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @pcr_inspection.subject_id %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @pcr_inspection.clinic_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @pcr_inspection.result %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @pcr_inspection.remarks %>
</p>

<%= link_to 'Edit', edit_pcr_inspection_path(@pcr_inspection) %> |
<%= link_to 'Back', pcr_inspections_path %>
