 <div class="container">
<div class="row">
   <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          　<h3>全感染者数 <%= @negative %>人　感染割合　<%=  @proportion.ceil  %> %</h3>
　　　　　　  </div>
      </div>
    </div>

 </div>
<div class="row ItemList">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5>感染者に対する割合</h5>
          <%= pie_chart({"陰性" =>@positive , "陽性" => @negative}) %>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5>新規患者の報告件数</h5>
          <%= column_chart PcrInspection.where(result: 1).group('date(testDay)').order('date(testDay)').count  %>
        </div>
      </div>
    </div>
  </div>
  <div class="row ItemList">
    <div class="col-lg-12 ">
      <div class="card">
        <div class="card-body">
        <h5>陽性患者の属性</h5>
          <div class="mx-auto bg-white">
            <div class="table-responsive">
              <table class="table table-fixed">
                <thead>
                  <tr>
                 <th scope="col" class="col-3">公開日</th>
                    <th scope="col" class="col-3">診療所</th>
                    <th scope="col"class="col-3">年代</th>
                    <th scope="col"class="col-3">性別</th>
                  </tr>
                </thead>
                <tbody>
                  <% @pcr_n.each do |n| %>
                    <tr> 
                      <th scope="row"class="col-3">
                        <%= n.testday %>
                      </th>
                      <td class="col-3">
                        <%= Clinic.find_by(id:n.clinic_id).name %>
                        
                      </td>
                      <td class="col-3">
                        <%= age(Subject.find_by(id:n.subject_id).birthday) %>
                      </td>
                      <td class="col-3">
                        <% if n.subject_id == 1 then %>
                        男性
                        <% else %>
                        女性
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>