<!DOCTYPE html>
<html>
  <head>
    <title>TestWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">TestWebApp</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to "ホーム",   root_path ,{class:"p-2 text-dark"}%>
        <%= link_to "被験者登録",   new_subject_path ,{class:"p-2 text-dark"}%>
        <%= link_to "PCR検査登録",   new_pcr_inspection_path ,{class:"p-2 text-dark"}%>
      </nav>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
